services:
  mysql:
    image: mysql:8.0
    environment:
      - TZ=Europe/Berlin
      - MYSQL_USER=hackenberg112
      - MYSQL_PASSWORD=hackenberg112
      - MYSQL_DATABASE=hackenberg112
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
    networks:
      - backend
    volumes:
      - ./mysql/data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - '3307:3306'
  php:
    build: ./php
    env_file:
      - .env
    networks:
      - backend
    volumes:
      - .:/var/www/html
  nginx:
    build: ./nginx
    depends_on:
      - php
    networks:
      - frontend
      - backend
    ports:
      - '7070:80'
    volumes:
      - ./web:/var/www/html
networks:
  frontend:
  backend:
